<h1> Marre de passer par Twitter maitre Lucas ? <h1>
<article>
  <form>
    <br>
    <input type="text" placeholder="Tapper votre twitt ici ... " maxlength="140"></br>
    <input type="submit" formethod="perform" value="TWITT">
  </form>
</arcticle>
