<!DOCTYPE html>
<html>
  <head>
    <title>Twitter pour faignants</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.0.2.min.css"/>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
